<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>鸭子冷冻死亡01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{296,406}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸭子冷冻死亡02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{296,406}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{1,409},{296,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸭子冷冻死亡03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{296,406}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{299,1},{296,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸭子冷冻死亡04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{296,406}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{299,409},{296,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸭子常态01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5125,0.560976}</string>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{292,404}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{597,1},{292,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸭子常态02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{272,408}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{1,817},{272,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>鸭子常态03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{292,390}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{597,807},{292,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>鸭子常态04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{294,398}</string>
                <key>spriteSourceSize</key>
                <string>{320,410}</string>
                <key>textureRect</key>
                <string>{{597,407},{294,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{988,1100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b60444b985d6993b718a7d0876135692:3e38f9eb82ffbbde928007965b6ab31c:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
